*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: #4d055f;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin-top: 10px;
    text-align: center;
    font-size: 3em;
    color:#ffffff;
    text-decoration: underline;
    margin-bottom: 30px;
    text-transform: capitalize;
}

a{
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    margin: 0 auto 28px;
    display: block;
    color:#ffffff;
    max-width: 20%;
    border:2px solid none;
    border-radius: 10px;
    background: #350642;
    padding: 3px;
    border-color: white;
    background-image: linear-gradient(45deg, white, 50%,  transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 0.37s ease-in-out;
}

a:hover{
    background-position: 0;
    color:#350642;
}

footer{
    font-family: 'Varela Round', sans-serif;
    background-color: #350642;
    width: 100%;
    bottom:0;
    position:fixed;
    text-align: center;
    color:#fff;
}

.disclaimer{
	display:none;
}

@media screen and (max-width:400px){
    a{
    max-width: 50%;
    }
    
    div{
    width: 90%;
    }
}

@media (min-width:401px) and (max-width: 700px){
    a{
    max-width:50%;
    }
}

@media (min-width: 701px) and (max-width: 1091px){
    a{
    max-width:30%;
    }
}